.bar {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	height: 2px;
	width: 100%;
	transform-origin: 0 50%;
	background: #ffe54c;
	// box-shadow: 0 0 10px rgba(255, 229, 76, 0.7);
	transition: transform 0.2s ease-out, opacity 0.3s ease-out 0.2s;
	pointer-events: none;
}
