.search {
    input {
        width: 100%;
        padding: 16px 32px;
        border-radius: 26px;
        border-color: rgb(229, 231, 235);
        border-width: 1px;
        border-style: solid;
        background-color: rgba(255, 255, 255, 1.00);
        font-size: 16px;
        font-weight: 400;
        color: rgb(17, 24, 39);
        box-sizing: border-box;
    }
}

.tools {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    li {
        a {
            position: relative;
            display: flex;
            align-items: center;
            gap: 20px;
            padding: 16px;
            border-radius: 26px;
            border-color: rgb(229, 231, 235);
            border-width: 1px;
            border-style: solid;
            background-color: rgba(255, 255, 255, 1.00);
            overflow: hidden;
            transition: border-color 0.5s ease;
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 52%;
                height: 100%;
                background-image: linear-gradient(90deg, rgba(37, 99, 235, 0.13), rgba(0, 0, 0, 0));
                transition: width 0.5s ease-in-out;
            }
            .icon {
                display: flex;
                align-items: center;
                justify-content: center;
                min-width: 60px;
                width: 60px;
                height: 60px;
                border-radius: 22px;
                font-size: 30px;
            }
            .text {
                .title {
                    display: block;
                    margin-bottom: 7px;
                    font-size: 18px;
                    font-weight: 600;
                }
                .description {
                    display: block;
                    font-size: 15px;
                    color: rgb(107, 114, 128);
                }
            }
            .arrow {
                display: flex;
                align-items: center;
                justify-content: center;
                min-width: 36px;
                width: 36px;
                height: 36px;
                border-radius: 100%;
                background-color: rgb(243, 246, 251);
                font-size: 18px;
            }
        }

        &:first-child {
            a {
                &::before {
                    background-image: linear-gradient(90deg, rgba(37, 99, 235, 0.13), rgba(0, 0, 0, 0));
                }
                .icon {
                    background-color: rgba(37, 99, 235, 0.13);
                    color: rgb(37, 99, 235);
                }
                &:hover {
                    border-color: rgb(37, 99, 235);
                    .arrow {
                        background-color: rgba(37, 99, 235, 0.13);
                    }
                }
            }
        }
        &:nth-child(2) {
            a {
                &::before {
                    background-image: linear-gradient(90deg, rgba(220, 38, 38, 0.13), rgba(0, 0, 0, 0));
                }
                .icon {
                    background-color: rgba(220, 38, 38, 0.13);
                    color: rgb(220, 38, 38);
                }
                &:hover {
                    border-color: rgb(220, 38, 38);
                    .arrow {
                        background-color: rgba(220, 38, 38, 0.13);
                    }
                }
            }
        }
        &:nth-child(3) {
            a {
                &::before {
                    background-image: linear-gradient(90deg, rgba(8, 145, 178, 0.13), rgba(0, 0, 0, 0));
                }
                .icon {
                    background-color: rgba(8, 145, 178, 0.13);
                    color: rgb(8, 145, 178);
                }
                &:hover {
                    border-color: rgb(8, 145, 178);
                    .arrow {
                        background-color: rgba(8, 145, 178, 0.13);
                    }
                }
            }
        }
        &:nth-child(4) {
            a {
                &::before {
                    background-image: linear-gradient(90deg, rgba(124, 58, 237, 0.13), rgba(0, 0, 0, 0));
                }
                .icon {
                    background-color: rgba(124, 58, 237, 0.13);
                    color: rgb(124, 58, 237);
                }
                &:hover {
                    border-color: rgb(124, 58, 237);
                    .arrow {
                        background-color: rgba(124, 58, 237, 0.13);
                    }
                }
            }
        }
        &:nth-child(5) {
            a {
                &::before {
                    background-image: linear-gradient(90deg, rgba(15, 118, 110, 0.13), rgba(0, 0, 0, 0));
                }
                .icon {
                    background-color: rgba(15, 118, 110, 0.13);
                    color: rgb(15, 118, 110);
                }
                &:hover {
                    border-color: rgb(15, 118, 110);
                    .arrow {
                        background-color: rgba(15, 118, 110, 0.13);
                    }
                }
            }
        }
        &:nth-child(6) {
            a {
                &::before {
                    background-image: linear-gradient(90deg, rgba(234, 88, 12, 0.13), rgba(0, 0, 0, 0));
                }
                .icon {
                    background-color: rgba(234, 88, 12, 0.13);
                    color: rgb(234, 88, 12);
                }
                &:hover {
                    border-color: rgb(234, 88, 12);
                    .arrow {
                        background-color: rgba(234, 88, 12, 0.13);
                    }
                }
            }
        }
        &:nth-child(7) {
            a {
                &::before {
                    background-image: linear-gradient(90deg, rgba(219, 39, 119, 0.13), rgba(0, 0, 0, 0));
                }
                .icon {
                    background-color: rgba(219, 39, 119, 0.13);
                    color: rgb(219, 39, 119);
                }
                &:hover {
                    border-color: rgb(219, 39, 119);
                    .arrow {
                        background-color: rgba(219, 39, 119, 0.13);
                    }
                }
            }
        }
        &:nth-child(8) {
            a {
                &::before {
                    background-image: linear-gradient(90deg, rgba(100, 116, 139, 0.13), rgba(0, 0, 0, 0));
                }
                .icon {
                    background-color: rgba(100, 116, 139, 0.13);
                    color: rgb(100, 116, 139);
                }
                &:hover {
                    border-color: rgb(100, 116, 139);
                    .arrow {
                        background-color: rgba(100, 116, 139, 0.13);
                    }
                }
            }
        }
        &:nth-child(9) {
            a {
                &::before {
                    background-image: linear-gradient(90deg, rgba(202, 138, 4, 0.13), rgba(0, 0, 0, 0));
                }
                .icon {
                    background-color: rgba(202, 138, 4, 0.13);
                    color: rgb(202, 138, 4);
                }
                &:hover {
                    border-color: rgb(202, 138, 4);
                    .arrow {
                        background-color: rgba(202, 138, 4, 0.13);
                    }
                }
            }
        }
        &:nth-child(10) {
            a {
                &::before {
                    background-image: linear-gradient(90deg, rgba(2, 132, 199, 0.13), rgba(0, 0, 0, 0))
                }
                .icon {
                    background-color: rgba(2, 132, 199, 0.13);
                    color: rgb(2, 132, 199);
                }
                &:hover {
                    border-color: rgb(2, 132, 199);
                    .arrow {
                        background-color: rgba(2, 132, 199, 0.13);
                    }
                }
            }
        }
        &:nth-child(11) {
            a {
                &::before {
                    background-image: linear-gradient(90deg, rgba(22, 163, 74, 0.13), rgba(0, 0, 0, 0));
                }
                .icon {
                    background-color: rgba(22, 163, 74, 0.13);
                    color: rgb(22, 163, 74);
                }
                &:hover {
                    border-color: rgb(22, 163, 74);
                    .arrow {
                        background-color: rgba(22, 163, 74, 0.13);
                    }
                }
            }
        }

        &:hover {
            a {
                &::before {
                    width: 200%;
                }
            }
        }
    }
}