.toolpage {
    .back {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 42px;
        height: 42px;
        margin-bottom: 18px;
        border-radius: 100%;
        background-color: rgba(255, 255, 255, 1.00);
        border: 1px solid #ced1d5;
        color: #000;
        font-size: 20px;
        font-weight: 900;
    }
    .title {
        margin-bottom: 24px;
        h1 {
            margin-bottom: 12px;
        }
        p {
            font-size: 16px;
        }
    }
    .tool-container {
        min-height: 200px;
        padding: 24px;
        margin-bottom: 62px;
        background-color: #fff;
        border: 1px solid #ced1d5;
        border-radius: 26px;
    }
    hr {
        margin: 62px 0;
        color: #ced1d5;
    }

    .toolDetails {
        display: flex;
        gap: 52px;
        width: 100%;
        .detailsCol {
            flex: 1;
        }
        ul {
            list-style: disc;
            padding-left: 20px;
        }
    }
}