.dashboard {
    display: flex;
    .content {
        flex: 1;
        min-height: calc(100vh - 154px);
        background-color: #f3f3f3;
        .title {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            gap: 2px;
            height: 62px;
            padding: 0 20px;
            background-color: #fff;
            border-bottom: 1px solid #f1f1f1;
            h1 {
                margin: 0;
                padding: 0;
                font-size: 18px;
                font-weight: 600;
            }
            p {
                display: flex;
                align-items: center;
                gap: 5px;
                font-size: 12px;
                color: #666;
                margin: 0;
                padding: 0;
            }
        }
    }
}